@import "@/styles/variables.scss";

.WalletModal{
	.box{
		background-color: $primaryblack;
		padding: 2rem;
		border-radius: .5rem;

		.heading{
			display:flex;
			align-items:center;
			justify-content:space-between;
		
			p{
				font-size: 1.2rem;
			}
		}
		
		.wallet{
			p{
				background-color: $primaryYellow;
				padding: 1rem;
				border-radius:.5rem;
				color: $primaryblack;
				font-weight: 700;
				cursor:pointer;
			}
		}

		.para{
			padding: 1rem;
			line-height:1.2;
			border: 1px solid $primaryYellow;
			border-radius:.5rem;
		}
	}
}

