//Backgrounds
$topnav_bg: rgba(51, 0, 94, 0.4);

//Buttons
$signin_header_btn_bg: linear-gradient(to right, #BA6AD1B0, #E50D7E) transparent 0% 0%;

//Borders
$border_lightgray: #e8e8e8;

//Colors
$primaryblack: #1e1e1e;
$primaryblackOpaque: #1e1e1e5a;
$white: #fff;
$primaryYellow: #cff80b;
$secondYellowOpaque:#d1f80b53;
$blue: #213aab;
$secondaryBlue: #32a5f5;
$primaryRed: #ff2257;


$notification_green: #30d947;
$notification_red: #d93030;
$super_gray: #E8E8E8;
$gray: #6a6a6a;
$gray2: #999;
$dark_gray: #333;


